{% extends 'base.html.twig' %}

{% block title %}New UserGameAnswer{% endblock %}

{% block body %}
{% include 'back/partial/back_nav_bar.html.twig' %}
    <h1>Create new UserGameAnswer</h1>

    {{ include('back/user_game_answer/_form.html.twig') }}

    <a href="{{ path('app_back_user_game_answer_index') }}">back to list</a>
{% endblock %}
