{% extends 'base.html.twig' %}

{% block title %}Edit Question
{% endblock %}

{% block body %}
	{% include 'back/partial/back_nav_bar.html.twig' %}
	<div class="container pt-5">

		<div class="row mb-2">

			<div class="col-8 mx-auto">
				<h1>Edit Question</h1>
				<div class="col">
					{{ include('back/question/_form.html.twig', {'button_label': 'Update'}) }}

					<a href="{{ path('app_back_question_index') }}">back to list</a>

					{{ include('back/question/_delete_form.html.twig') }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
