{% extends 'base.html.twig' %}

{% block title %}Ajout d'une Question
{% endblock %}

{% block body %}
	{% include 'back/partial/back_nav_bar.html.twig' %}
	<div class="container pt-5">
		<div class="row mb-2">
			<h1>Ajout d'une question</h1>
			<div class="col-8 mx-auto">
				<a href="{{ path('app_back_question_index') }}">Retour à la liste</a>
				<div>
					{{ include('back/question/_form.html.twig') }}
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
